body {
    font-family: Arial, sans-serif;
    border: solid 2px black;
    border-radius: 10px;
    grid-column: auto;
    width: 200px;
}
.result {
    background-color: rgb(60, 60, 60);
    font-size: 3rem;
    text-align: right;
    color: white;
    border: solid 0px black;
    
}
.line-1 {
    display: grid;
    padding: 10px;  
    margin: auto;
    grid-template-columns: auto auto auto auto;
    background-color:  rgb(60, 60, 60);
    color: white;
    text-align: center;
    border: solid 0px black;
}
.line-2 {
    display: grid;
    padding: 10px; 
    margin: auto;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
    color: white;
    text-align: center;
    border: solid 0px black;
}
.line-3 {
    display: grid;
    padding: 10px; 
    margin: auto;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
    color: white;
    text-align: center;
    border: solid 0px black;
}
.line-4 {
    display: grid;
    padding: 10px; 
    margin: auto;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
    color: white;
    text-align: center;
    border: solid 0px black;
}
.line-5 {
    display: grid;
    padding: 10px; 
    margin: auto;
    grid-template-columns: auto auto auto auto;
    background-color: gray;
    color: white;
    text-align: center; 
    border: solid 0px black;
}
.grid-item {
    grid-row: 1/span 2;
}
