body {
    font-family: Arial, sans-serif;
    border: solid 2px black;
    border-radius: 10px;
    width: 200px;
    margin: auto;
}
.result {
    background-color: rgb(60, 60, 60);
    font-size: 3rem;
    text-align: right;
    color: white;
}
.line {
    display: grid;
    padding: 10px;
    margin: auto;
    grid-template-columns: repeat(4, auto); 
    text-align: center;
    color: white;
}
.line-1 {
    background-color: rgb(60, 60, 60);
}
.line {
    background-color: gray;
}
button {
    cursor: pointer;
    margin: auto;
    font-size: 15px;
}
